body{
    margin: 0px 0px 0px;

}
#header {
   
    width: 100%;
    height: 80px;
    background-color: green;
    text-align: center;
    color:white;
    font-size:25px;
    padding-top:50px;
    margin-bottom: 7px;
}
#sidebar {
    width:25%;
    height: 280px;
    background-color:green;
    text-align: center;
    color:white;
    font-size:25px;
    padding-top:150px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 7px;
}
#content{
    width:74.31%;
    height:280px;
    background-color:green;
    text-align: center;
    color:white;
    font-size:25px;
    padding-top:150px;
    display: inline-block;
    margin-bottom: 7px;
}
#footer{
   
    width: 100%;
    height: 70px;
    background-color: green;
    text-align: center;
    color:white;
    font-size:25px;
    padding-top:7px;
    

}
.dimension{
    font-size:15px;
}
#footer div{
    display:inline-block;
}
