
#header{
   
    width:980px;
    height:140px ;
    background-color: green;
    text-align: center;
    color: white;
    margin-bottom: 5px;
}

#sidebar{
    width:270px;
    height: 450px;
    background-color: green;
    text-align: center;
    color: white;
    display: inline-block;
    margin-bottom: 5px;
}

#content{
    width:690px;
    height:450px;
    background-color: green;
    text-align: center;
    color: white;
    display: inline-block;
   
}

footer{
    width:980px;
    height:70px;
    background-color: green;
    text-align: center;
    color: white;
    margin-top: 0px;
    display: inline-block;

}