body{
    margin:0px;

}
ul{
    background: purple;
    margin: 0px;
    top: 0px;
    position:sticky;
}
ul li{
    display: inline-block;
    padding:15px 30px 15px;
}
ul li a{
    color:white;
    font-size:20px;
    text-decoration:none;
}
ul li:hover{
    background:red;
    cursor: pointer;
}
#active{
    background:orange;

}
@keyframes mybanner {
    25%{ background-image:url('2.jpg'); font-size: 25px;text-align: left;}
    50%{ background-image:url('3.jpg'); font-size:50px; text-align: right;}
    75%{ background-image:url('4.jpg'); font-size: 75px; text-align: center; color:yellow;}
}

#banner{
    height:300px;
    padding-top: 150px;
    font-size:100px;
    text-align: center;
    color:white;
    background-image:url('1.jpg');
    background-size:100% 100% ;
    animation: mybanner;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
footer{
    padding:20px 10% 20px;
    height: auto;
    background-color:indigo;
    color: white;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    

}
.footercols{
    padding:0px 20px 0px;
}
footer h4{
    font-size:25px;
    border-bottom:3px dotted orange;
}
#container{
    width:80%;
    margin: auto;
    min-height: 450px;
}
.home{
    margin:2%;
    padding: 1%;
    width:18%;
    display: inline-block;
    height:200px;
    background-color: cadetblue;
}
.home img{
    width:100%;
    height:100%;
}
.home:hover{
    background-color:chartreuse;
    cursor: pointer;
}

h1{
    color:orangered;
    font-size:80px;
    text-align: center;
}
.product{
    margin:2%;
    width:28%;
    display: inline-block;
}
.blue{
    color: blue;
}
.green{color: green;

}
.pink{
    color: pink;
}

fieldset{
    margin:50px auto 50px;
    width: 400px;
    padding: 15px;
    border:10px solid orange;
    border-radius: 5px;
}

legend{
    padding:6px 20px 6px;
    background:green;
    font-size:20px;
    color: white;
    border-radius: 5px;
}

fieldset table{
    width:100%;
}

.inputbox{
    width:95%;
    height: 29px;
}
.bigbox{
    height:70px;
}

button{
    margin-top:30px;
    background:blue;
    color:white;
    font-size: 18px;
    padding:8px 15px 8px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}
button:focus{
    background:black;
}
.red{color: red;

}
.textcenter{
    text-align: center;
}
.title{
    font-size:25px;
    color: blue;
}
.product p{
    text-align:justify;
}
.our-product {
    margin:2%;
    width:20%;
    display: inline-block;
}

.our-product img{
    padding: 5%;
    width:150px;
    display: inline-block;
    height:150px;
    background-color: cadetblue;
    
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.our-product h2{
    text-align: center;

}
.our-product p{
    text-align: justify;
}

/* media query start here */
@media screen and (min-width:1px) and (max-width:600px){
    fieldset{
        width:90%;
    }
    
    .product{
        width:95%;
    }
    .our-product{
        width:95%;
        text-align: center;
    }

    ul li{padding:6px;}
    ul li a{font-size:16px;}
    
    #banner{
        height: 50px;
        padding:50px;
    }
    h1{
        font-size:40px;
    }
    .home{
        width:94%;

    }
    footer{
        grid-template-columns: auto;
    }
    
}

/* medium device css start */
@media screen and (min-width:600px) and (max-width:1000px){
    .product{
        width:45%;
    }
    .our-product{
        width:45%;
        text-align: center;
    }


    ul li{padding:8px;}
    ul li a{font-size:16px;}
    
    #banner{
        height: 70px;
        padding:70px;
    }
    h1{
        font-size:50px;
    }
    .home{
        width:43%;

    }
    footer{
        grid-template-columns: auto auto;
    }
    
}

